<div class="main_content-body">
    <h1>Ожидающие решения:</h1>
    <div class="row mt-2 mb-2">
        @{
            foreach (QueueItemID id in Model.NewIds)
            {
            @await Html.PartialAsync("allIds", @id)
                         }
        }
    </div>
    <h1>Решение принято:</h1>
    <div class="row mt-2 mb-2">
        @{
            foreach (QueueItemID id in Model.AcceptedIds)
            {
                @await Html.PartialAsync("allIdsTo", @id)
                         }
                         }
    </div>
    <h1>Решение Исполнено:</h1>
    <div class="row mt-2 mb-2">
        @{
            foreach (QueueItemID id in Model.FinishedIds)
            {
                @await Html.PartialAsync("allIdsFin", @id)
                         }
                         }
    </div>
</div>