@model AlertView
<div class="main_content-body">
    <meta http-equiv="refresh" content="5">
    @{
        if (Model.ToDo.Count() != 0)
        {
            <h1>Внимание:</h1>
            <div class="row mt-2 mb-2">
                @{
                    foreach (Alert id in Model.ToDo)
                    {
                        @await Html.PartialAsync("AlertsToDo", @id)
                    }
                }
            </div>
        }
        else
        {
        @*<div class="row mt-2 mb-2" style="text-align:center">
            <h1>Успешно работаем без инцидентов  @Model.TimeWOAlerts.Days дней @Model.TimeWOAlerts.Hours часов  @Model.TimeWOAlerts.Minutes минут @Model.TimeWOAlerts.Seconds секунд</h1>
        </div>*@
        }
    }
    <h1>Решено:</h1>
    <div class="row mt-2 mb-2">
        @{
            foreach (Alert id in Model.Worked)
            {
                @await Html.PartialAsync("AlertsWorked", @id)
            }
        }
    </div>
</div>