<h1>RPA:</h1>

<div style="display: -webkit-box;">
    <p><a class="btn btn-outline-warning btn-lg" href="/RPA/ALERTS">Алерты</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/USER">Управление пользователями</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/ROLE">Управление ролями</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/PERMISSIONS">Управление правами</a></p>
</div>
<h1>SMART SCHEDULER:</h1>

<div style="display: -webkit-box;">
    <p><a class="btn btn-outline-warning btn-lg" href="/SS/MACHINE">Управление машинами</a></p>

</div>
<h1>ТЕСТ:</h1>

<div style="display: -webkit-box;">
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE">Управление пользователями</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/PermToRole">Тест Управление ролями</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/PermToRole2">Тест Управление ролями 2</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/PermToRole3">Тест Управление ролями 3</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/PermToRole4">Тест Управление ролями 4</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/PermToRole5">Тест Управление ролями 5</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/RPABASE/PERMISSIONS">Управление правами</a></p>
</div>
<p><img class="rounded-3" src="\img\icon\robbee.webp" width="100" /></p>

