<h1>HR:</h1>
<div style="display: -webkit-box;">
    <p><a class="btn btn-outline-warning btn-lg" href="/HR/REPORTS/CHATBOT">Обращения в чат бот</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/HRBASE/USER">Пользователи</a></p>
</div>
@*<h1>ТЕСТ:</h1>
<div style="display: -webkit-box;">
    <p><a class="btn btn-outline-warning btn-lg" href="/CESS/IDS">ТЕСТ 76 Инцидент</a></p>
</div>*@


<p><img class="rounded-3" src="\img\icon\robbee.webp" width="100" /></p>

