<div>

    <table id="table"
           data-show-columns="true"
           data-cookie="true"
           data-cookie-id-table="saveId"
           data-pagination="true"
           data-search="true"
           data-toggle="url"
           data-url="https://examples.wenzhixin.net.cn/examples/bootstrap_table/data"
           data-side-pagination="server">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Item Name</th>
                <th data-field="price" data-sortable="true">Item Price</th>
            </tr>
        </thead>
    </table>
    <a class="btn btn-warning" asp-controller="Test" asp-action="Export">Тест</a>
    <script>
        $(function () {
            $('#table').bootstrapTable()
        })
    </script>
</div>