<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/export/bootstrap-table-export.min.js"></script>

    <style>
        #toolbar {
            margin: 0;
        }
    </style>

    <div id="toolbar" class="select">
        <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
        </select>
    </div>

    <table data-toggle="table"
           id="table"
           data-search="true"
           data-show-export="true"
           data-show-columns="true"
           data-click-to-select="true"
          data-toolbar="#toolbar"
           data-show-footer="true"
          data-show-toggle="true">
        <thead>
            <tr class="tr-class-1">
                <th data-field="name" rowspan="2" data-valign="middle">Name</th>
                <th colspan="3">Detail</th>
            </tr>
            <tr class="tr-class-2">
                <th data-field="star">Stars</th>
                <th data-field="forks">Forks</th>
                <th data-field="description">Description</th>
            </tr>
        </thead>
        <tr>
            <th data-field="star">Sta4441444rs</th>
            <th data-field="forks" data-filter-control="input">Forks</th>
            <th data-field="description" data-filter-control="input">Description</th>
            <th data-field="sta2r" data-filter-control="select">Sta444444rs</th>
        </tr>
        </thead>
        <tbody>

            @{
                foreach (TestModel id in Model)
                {
                    <tr>
                        @Html.Partial("Testb", id)
                    </tr>
                }
            }
        </tbody>
    </table>
    <script>
      var $table = $('#table')

      $(function() {
        $('#toolbar').find('select').change(function () {
          $table.bootstrapTable('destroy').bootstrapTable({
            exportDataType: $(this).val(),
            exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
            responseHandler (res) {
              res.rows.forEach(row => {
                row._id_data = {
                  'tableexport-msonumberformat': '\\'
                }
              })
              return res
            },
            columns: [
              {
                field: 'state',
                checkbox: true,
                visible: $(this).val() === 'selected'
              },
              {
                field: 'id',
                title: 'ID'
              }, {
                field: 'name',
                title: 'Item Name'
              }, {
                field: 'price',
                title: 'Item Price'
              }
            ]
          })
        }).trigger('change')
      })
    </script>
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>

<style>
    [data-field="name"] .th-inner {
        width: 200px
    }

    .th-inner {
        width: 100px
    }
</style>

<div style="width: 500px;">
    <table id="table" data-striped="true" data-show-footer="true" data-height="300">
    </table>
</div>

<script>
    var $table = $('#table')

    function totalTextFormatter(data) {
        return 'Total'
    }

    function sumFormatter(data) {
        var field = this.field
        var total_sum = data.reduce(function (sum, row) {
            return (sum) + (row[field] || 0)
        }, 0)
        return total_sum
    }

    $(function () {
        $table.bootstrapTable({
            columns: [{
                'field': 'name',
                'title': 'Location',
                footerFormatter: totalTextFormatter
            },
            {
                'field': 'log_date_2015-06-20',
                'title': '6/20',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-21',
                'title': '6/21',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-22',
                'title': '6/22',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-23',
                'title': '6/23',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-24',
                'title': '6/24',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-25',
                'title': '6/25',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-26',
                'title': '6/26',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-27',
                'title': '6/27',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-28',
                'title': '6/28',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-29',
                'title': '6/29',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-06-30',
                'title': '6/30',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-07-01',
                'title': '7/1',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-07-02',
                'title': '7/2',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-07-03',
                'title': '7/3',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-07-04',
                'title': '7/4',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-07-05',
                'title': '7/5',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-07-06',
                'title': '7/6',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'log_date_2015-07-07',
                'title': '7/7',
                'align': 'right',
                footerFormatter: sumFormatter
            },
            {
                'field': 'total',
                'title': 'Total',
                'align': 'right',
                footerFormatter: sumFormatter
            }
            ],
            data: [{
                'name': 'Example1',
                'total': 19.5,
                'log_date_2015-07-01': -0.25,
                'log_date_2015-06-09': 5.5,
                'log_date_2015-06-06': -0.5,
                'log_date_2015-06-04': -0.25,
                'log_date_2015-07-07': -1.75,
                'log_date_2015-06-11': 6,
                'log_date_2015-06-25': -0.75,
                'log_date_2015-06-03': -0.75,
                'log_date_2015-07-02': -1.25,
                'log_date_2015-06-27': 0.75,
                'log_date_2015-06-14': 3.25,
                'log_date_2015-06-18': -1.25,
                'log_date_2015-06-02': -1,
                'log_date_2015-06-01': 5,
                'log_date_2015-06-26': -1,
                'log_date_2015-06-19': -0.5,
                'log_date_2015-06-30': 1.25,
                'log_date_2015-06-12': 3.25,
                'log_date_2015-07-04': -2.5,
                'log_date_2015-07-05': 4,
                'log_date_2015-06-20': -2.75,
                'log_date_2015-06-15': -1.5,
                'log_date_2015-07-06': -1.75,
                'log_date_2015-06-28': -0.5,
                'log_date_2015-06-07': -1,
                'log_date_2015-06-05': -0.75,
                'log_date_2015-06-08': 1.25,
                'log_date_2015-06-13': 3.25,
                'log_date_2015-06-16': 1.75,
                'log_date_2015-06-22': -1.5,
                'log_date_2015-06-21': 0,
                'log_date_2015-07-03': 6.25,
                'log_date_2015-06-23': -1.25,
                'log_date_2015-06-17': -0.75,
                'log_date_2015-06-24': -0.75,
                'log_date_2015-06-10': 4.25,
                'log_date_2015-06-29': -2
            },
            {
                'name': 'Example2',
                'total': 32.25,
                'log_date_2015-06-27': -0.25,
                'log_date_2015-06-14': 0.5,
                'log_date_2015-07-02': 0.25,
                'log_date_2015-06-03': 6.75,
                'log_date_2015-06-11': 1.25,
                'log_date_2015-06-29': 0,
                'log_date_2015-07-07': 0.25,
                'log_date_2015-06-04': 1.5,
                'log_date_2015-06-10': -1,
                'log_date_2015-06-17': 5,
                'log_date_2015-06-06': 3.5,
                'log_date_2015-06-24': 0.25,
                'log_date_2015-06-23': 0.25,
                'log_date_2015-06-09': 0.25,
                'log_date_2015-07-03': 1,
                'log_date_2015-07-01': 0.25,
                'log_date_2015-06-21': 0.5,
                'log_date_2015-06-16': -0.5,
                'log_date_2015-06-22': 6,
                'log_date_2015-06-05': 0,
                'log_date_2015-06-08': -0.25,
                'log_date_2015-06-13': -0.25,
                'log_date_2015-06-28': 0.5,
                'log_date_2015-06-07': 0.25,
                'log_date_2015-07-06': 1,
                'log_date_2015-06-15': -1,
                'log_date_2015-06-20': 0.25,
                'log_date_2015-07-05': 0.5,
                'log_date_2015-07-04': 0.25,
                'log_date_2015-06-12': 0.25,
                'log_date_2015-06-19': 2.5,
                'log_date_2015-06-30': 0.25,
                'log_date_2015-06-26': 1.25,
                'log_date_2015-06-02': -0.5,
                'log_date_2015-06-01': 1.75,
                'log_date_2015-06-18': -0.5,
                'log_date_2015-06-25': 0.25
            },
            {
                'name': 'Example3',
                'total': 46,
                'log_date_2015-06-15': 0,
                'log_date_2015-06-13': 1.75,
                'log_date_2015-06-28': -0.25,
                'log_date_2015-06-22': 2.75,
                'log_date_2015-06-18': 0.5,
                'log_date_2015-06-02': 0,
                'log_date_2015-06-01': 0.75,
                'log_date_2015-06-19': 0,
                'log_date_2015-06-30': -0.75,
                'log_date_2015-06-26': 3.75,
                'log_date_2015-07-04': 0,
                'log_date_2015-06-12': 0.25,
                'log_date_2015-06-11': -0.75,
                'log_date_2015-06-25': 0.25,
                'log_date_2015-06-03': 2.5,
                'log_date_2015-06-14': 7.75,
                'log_date_2015-06-27': 0.25,
                'log_date_2015-07-02': -0.5,
                'log_date_2015-06-09': 6.75,
                'log_date_2015-07-03': 0.75,
                'log_date_2015-07-01': 6.5,
                'log_date_2015-06-21': 0.5,
                'log_date_2015-06-17': 4,
                'log_date_2015-06-24': 0.5,
                'log_date_2015-06-06': 0.5,
                'log_date_2015-06-23': 1.75,
                'log_date_2015-06-10': 0,
                'log_date_2015-06-29': -2.5,
                'log_date_2015-07-07': 0.25,
                'log_date_2015-06-04': -3.25,
                'log_date_2015-06-20': 3.5,
                'log_date_2015-07-05': 0.25,
                'log_date_2015-07-06': 0.5,
                'log_date_2015-06-05': 2.5,
                'log_date_2015-06-08': 3,
                'log_date_2015-06-07': -0.25,
                'log_date_2015-06-16': 2.5
            },
            {
                'name': 'Example1',
                'total': 19.5,
                'log_date_2015-07-01': -0.25,
                'log_date_2015-06-09': 5.5,
                'log_date_2015-06-06': -0.5,
                'log_date_2015-06-04': -0.25,
                'log_date_2015-07-07': -1.75,
                'log_date_2015-06-11': 6,
                'log_date_2015-06-25': -0.75,
                'log_date_2015-06-03': -0.75,
                'log_date_2015-07-02': -1.25,
                'log_date_2015-06-27': 0.75,
                'log_date_2015-06-14': 3.25,
                'log_date_2015-06-18': -1.25,
                'log_date_2015-06-02': -1,
                'log_date_2015-06-01': 5,
                'log_date_2015-06-26': -1,
                'log_date_2015-06-19': -0.5,
                'log_date_2015-06-30': 1.25,
                'log_date_2015-06-12': 3.25,
                'log_date_2015-07-04': -2.5,
                'log_date_2015-07-05': 4,
                'log_date_2015-06-20': -2.75,
                'log_date_2015-06-15': -1.5,
                'log_date_2015-07-06': -1.75,
                'log_date_2015-06-28': -0.5,
                'log_date_2015-06-07': -1,
                'log_date_2015-06-05': -0.75,
                'log_date_2015-06-08': 1.25,
                'log_date_2015-06-13': 3.25,
                'log_date_2015-06-16': 1.75,
                'log_date_2015-06-22': -1.5,
                'log_date_2015-06-21': 0,
                'log_date_2015-07-03': 6.25,
                'log_date_2015-06-23': -1.25,
                'log_date_2015-06-17': -0.75,
                'log_date_2015-06-24': -0.75,
                'log_date_2015-06-10': 4.25,
                'log_date_2015-06-29': -2
            },
            {
                'name': 'Example2',
                'total': 32.25,
                'log_date_2015-06-27': -0.25,
                'log_date_2015-06-14': 0.5,
                'log_date_2015-07-02': 0.25,
                'log_date_2015-06-03': 6.75,
                'log_date_2015-06-11': 1.25,
                'log_date_2015-06-29': 0,
                'log_date_2015-07-07': 0.25,
                'log_date_2015-06-04': 1.5,
                'log_date_2015-06-10': -1,
                'log_date_2015-06-17': 5,
                'log_date_2015-06-06': 3.5,
                'log_date_2015-06-24': 0.25,
                'log_date_2015-06-23': 0.25,
                'log_date_2015-06-09': 0.25,
                'log_date_2015-07-03': 1,
                'log_date_2015-07-01': 0.25,
                'log_date_2015-06-21': 0.5,
                'log_date_2015-06-16': -0.5,
                'log_date_2015-06-22': 6,
                'log_date_2015-06-05': 0,
                'log_date_2015-06-08': -0.25,
                'log_date_2015-06-13': -0.25,
                'log_date_2015-06-28': 0.5,
                'log_date_2015-06-07': 0.25,
                'log_date_2015-07-06': 1,
                'log_date_2015-06-15': -1,
                'log_date_2015-06-20': 0.25,
                'log_date_2015-07-05': 0.5,
                'log_date_2015-07-04': 0.25,
                'log_date_2015-06-12': 0.25,
                'log_date_2015-06-19': 2.5,
                'log_date_2015-06-30': 0.25,
                'log_date_2015-06-26': 1.25,
                'log_date_2015-06-02': -0.5,
                'log_date_2015-06-01': 1.75,
                'log_date_2015-06-18': -0.5,
                'log_date_2015-06-25': 0.25
            }, {
                'name': 'Example3',
                'total': 46,
                'log_date_2015-06-15': 0,
                'log_date_2015-06-13': 1.75,
                'log_date_2015-06-28': -0.25,
                'log_date_2015-06-22': 2.75,
                'log_date_2015-06-18': 0.5,
                'log_date_2015-06-02': 0,
                'log_date_2015-06-01': 0.75,
                'log_date_2015-06-19': 0,
                'log_date_2015-06-30': -0.75,
                'log_date_2015-06-26': 3.75,
                'log_date_2015-07-04': 0,
                'log_date_2015-06-12': 0.25,
                'log_date_2015-06-11': -0.75,
                'log_date_2015-06-25': 0.25,
                'log_date_2015-06-03': 2.5,
                'log_date_2015-06-14': 7.75,
                'log_date_2015-06-27': 0.25,
                'log_date_2015-07-02': -0.5,
                'log_date_2015-06-09': 6.75,
                'log_date_2015-07-03': 0.75,
                'log_date_2015-07-01': 6.5,
                'log_date_2015-06-21': 0.5,
                'log_date_2015-06-17': 4,
                'log_date_2015-06-24': 0.5,
                'log_date_2015-06-06': 0.5,
                'log_date_2015-06-23': 1.75,
                'log_date_2015-06-10': 0,
                'log_date_2015-06-29': -2.5,
                'log_date_2015-07-07': 0.25,
                'log_date_2015-06-04': -3.25,
                'log_date_2015-06-20': 3.5,
                'log_date_2015-07-05': 0.25,
                'log_date_2015-07-06': 0.5,
                'log_date_2015-06-05': 2.5,
                'log_date_2015-06-08': 3,
                'log_date_2015-06-07': -0.25,
                'log_date_2015-06-16': 2.5
            },
            {
                'name': 'Example1',
                'total': 19.5,
                'log_date_2015-07-01': -0.25,
                'log_date_2015-06-09': 5.5,
                'log_date_2015-06-06': -0.5,
                'log_date_2015-06-04': -0.25,
                'log_date_2015-07-07': -1.75,
                'log_date_2015-06-11': 6,
                'log_date_2015-06-25': -0.75,
                'log_date_2015-06-03': -0.75,
                'log_date_2015-07-02': -1.25,
                'log_date_2015-06-27': 0.75,
                'log_date_2015-06-14': 3.25,
                'log_date_2015-06-18': -1.25,
                'log_date_2015-06-02': -1,
                'log_date_2015-06-01': 5,
                'log_date_2015-06-26': -1,
                'log_date_2015-06-19': -0.5,
                'log_date_2015-06-30': 1.25,
                'log_date_2015-06-12': 3.25,
                'log_date_2015-07-04': -2.5,
                'log_date_2015-07-05': 4,
                'log_date_2015-06-20': -2.75,
                'log_date_2015-06-15': -1.5,
                'log_date_2015-07-06': -1.75,
                'log_date_2015-06-28': -0.5,
                'log_date_2015-06-07': -1,
                'log_date_2015-06-05': -0.75,
                'log_date_2015-06-08': 1.25,
                'log_date_2015-06-13': 3.25,
                'log_date_2015-06-16': 1.75,
                'log_date_2015-06-22': -1.5,
                'log_date_2015-06-21': 0,
                'log_date_2015-07-03': 6.25,
                'log_date_2015-06-23': -1.25,
                'log_date_2015-06-17': -0.75,
                'log_date_2015-06-24': -0.75,
                'log_date_2015-06-10': 4.25,
                'log_date_2015-06-29': -2
            }, {
                'name': 'Example2',
                'total': 32.25,
                'log_date_2015-06-27': -0.25,
                'log_date_2015-06-14': 0.5,
                'log_date_2015-07-02': 0.25,
                'log_date_2015-06-03': 6.75,
                'log_date_2015-06-11': 1.25,
                'log_date_2015-06-29': 0,
                'log_date_2015-07-07': 0.25,
                'log_date_2015-06-04': 1.5,
                'log_date_2015-06-10': -1,
                'log_date_2015-06-17': 5,
                'log_date_2015-06-06': 3.5,
                'log_date_2015-06-24': 0.25,
                'log_date_2015-06-23': 0.25,
                'log_date_2015-06-09': 0.25,
                'log_date_2015-07-03': 1,
                'log_date_2015-07-01': 0.25,
                'log_date_2015-06-21': 0.5,
                'log_date_2015-06-16': -0.5,
                'log_date_2015-06-22': 6,
                'log_date_2015-06-05': 0,
                'log_date_2015-06-08': -0.25,
                'log_date_2015-06-13': -0.25,
                'log_date_2015-06-28': 0.5,
                'log_date_2015-06-07': 0.25,
                'log_date_2015-07-06': 1,
                'log_date_2015-06-15': -1,
                'log_date_2015-06-20': 0.25,
                'log_date_2015-07-05': 0.5,
                'log_date_2015-07-04': 0.25,
                'log_date_2015-06-12': 0.25,
                'log_date_2015-06-19': 2.5,
                'log_date_2015-06-30': 0.25,
                'log_date_2015-06-26': 1.25,
                'log_date_2015-06-02': -0.5,
                'log_date_2015-06-01': 1.75,
                'log_date_2015-06-18': -0.5,
                'log_date_2015-06-25': 0.25
            },
            {
                'name': 'Example3',
                'total': 46,
                'log_date_2015-06-15': 0,
                'log_date_2015-06-13': 1.75,
                'log_date_2015-06-28': -0.25,
                'log_date_2015-06-22': 2.75,
                'log_date_2015-06-18': 0.5,
                'log_date_2015-06-02': 0,
                'log_date_2015-06-01': 0.75,
                'log_date_2015-06-19': 0,
                'log_date_2015-06-30': -0.75,
                'log_date_2015-06-26': 3.75,
                'log_date_2015-07-04': 0,
                'log_date_2015-06-12': 0.25,
                'log_date_2015-06-11': -0.75,
                'log_date_2015-06-25': 0.25,
                'log_date_2015-06-03': 2.5,
                'log_date_2015-06-14': 7.75,
                'log_date_2015-06-27': 0.25,
                'log_date_2015-07-02': -0.5,
                'log_date_2015-06-09': 6.75,
                'log_date_2015-07-03': 0.75,
                'log_date_2015-07-01': 6.5,
                'log_date_2015-06-21': 0.5,
                'log_date_2015-06-17': 4,
                'log_date_2015-06-24': 0.5,
                'log_date_2015-06-06': 0.5,
                'log_date_2015-06-23': 1.75,
                'log_date_2015-06-10': 0,
                'log_date_2015-06-29': -2.5,
                'log_date_2015-07-07': 0.25,
                'log_date_2015-06-04': -3.25,
                'log_date_2015-06-20': 3.5,
                'log_date_2015-07-05': 0.25,
                'log_date_2015-07-06': 0.5,
                'log_date_2015-06-05': 2.5,
                'log_date_2015-06-08': 3,
                'log_date_2015-06-07': -0.25,
                'log_date_2015-06-16': 2.5
            }
            ]
        })
    })
</script>