<div>
    <h1>Нет доступа</h1>
    <h4>По вопросу доступа к разделу ЦЭСС необходимо обратиться к администратору группы Соломке Михаилу MSolomka@spb.beeline.ru</h4>
    <h4>По вопросу доступа к разделу Касса необходимо обратиться к администратору группы Пыряеву Анатолию APyryaev@ssc.beeline.ru</h4>
    <h4>По прочим вопросам к Кузнецову Александру AlVaKuznetsov@ssc.beeline.ru</h4>

</div>


