
<div style="margin-top:100px"><h1 align="center">К сожалению, браузер IE не поддерживается. </h1></div>
<div><h1 align="center">В центре программного обеспечения можно <a href="https://space.beeline.ru/News/Pages/2021/news_4e99afebd45d40b09b3647c2a42955d8.aspx">скачать Chrome</a>  </h1></div>
<div><h3 align="center">Если ваш браузер не IE но вы попали на эту страницу - обратитесь к Кузнецову Александру AlVaKuznetsov@ssc.beeline.ru</h3></div>

