<h1>Подробности:</h1>
<p><a class="btn btn-warning" href="/CESS/IDS">Назад</a></p>
<div class="row mt-1 mb-2">
    @{
        foreach (QueueItemID id in Model.AllIds)
        {
        @await Html.PartialAsync("DetailId", id)
                 }
                 }
</div>
