<h1>ЦЭСС:</h1>
<div style="display: -webkit-box;">
    <p><a class="btn btn-outline-warning btn-lg" href="/CESS/REPORTS/WAVE1">Отчет ЦЭСС первая волна</a></p>
    <p><a class="btn btn-outline-warning btn-lg" href="/CESSBASE">Управление</a></p>
</div>
<h1>ТЕСТ:</h1>
<div style="display: -webkit-box;">
    <p><a class="btn btn-outline-warning btn-lg" href="/CESS/IDS">ТЕСТ 76 Инцидент</a></p>
</div>


<p><img class="rounded-3" src="\img\icon\robbee.webp" width="100" /></p>

