@model QueueItemID

<div class="col-lg-3" style="margin:5px;">
    <div style="        background: #8dafff;
        height: 400px;
        border-radius: 15%;
        text-align: center;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
" class="aer">
        <div class="topchic">

            <h2>@Model.QID</h2>
            <p>@Model.QID</p>
            <p>Филиал: @Model.QID</p>
        </div>
    </div>

</div>