@model MainReportWave1FS
<div class="row">
    <form asp-controller="CessReport" asp-action="List1s" method="post" class="form-check-label">
        <div class="col-md-4 mt-3 mb-0">
            <table>
                <thead>
                    <tr>
                        <td align="left" valign="bottom" style="width:100px"> Размер: <input asp-for="pagesize" class="form-control"/></td>
                        <td align="left" valign="bottom" style="width:100px">Страница:<input asp-for="page" class="form-control"/></td>
                        <td valign="bottom"><input class="btn btn-success" type="submit" value="Применить" /></td>
                        <td>Найдено: @Model.count</td>
                    </tr>
                </thead>
            </table>
        </div>

        <table data-toggle="table"
               id="table"
               data-search="true"
               data-show-export="true"
               data-show-columns="true"
               @*data-click-to-select="true"*@
               @*data-toolbar="#toolbar"*@
               @*data-show-footer="true"*@
               data-show-toggle="true"
               data-height="600"
               @*data-height-unit="%"*@
               data-show-fullscreen="true"
               data-cookie="true"
               data-cookie-id-table="saveId"
               data-search-highlight="true">
            <thead>
                <tr class="tr-class-1">
                    <th data-field="id">Ключ (счетчик)</th>
                    <th data-field="NRI_LINK">NRI_ссылка</th>
                    <th data-field="ZM_LOT">ЗМ_с_лотом</th>
                    <th data-field="REGION">Регион</th>
                    <th data-field="FILIAL">Филиал</th>
                    <th data-field="NRI_BS_N">NRI_БС_Номер</th>
                    <th data-field="NRI_BS_NAME">NRI_БС_Наименование</th>
                    <th data-field="DS_N">ДС_Номер</th>
                    <th data-field="PROVIDER">Поставщик</th>
                    <th data-field="VIR_DOC_TYPE">ВИР_Тип_документа</th>
                    <th data-field="VIR_DOP">ВИР_Дополнение</th>
                    <th data-field="VIR_DOP_N">ВИР_Дополнение_номер</th>
                    <th data-field="VIR_DATE">ВИР_дата</th>
                    <th data-field="VIR_SUMM_WO_NDS">ВИР_Сумма_без_НДС</th>
                    <th data-field="VIR_PAY_CONDITIONS">ВИР_Условия_платежа</th>
                    <th data-field="INITIATOR_FIO">Инициатор_ФИО</th>
                    <th data-field="RESPONSIBLE_FIO">Ответственный_ФИО</th>
                    <th data-field="STAGE">Этап</th>
                    <th data-field="PR_N">PR_Номер</th>
                    <th data-field="PR_STATUS">PR_статус</th>
                    <th data-field="PR_COM">PR_Комментарий</th>
                    <th data-field="SEVD">СЭВД</th>
                    <th data-field="SEVD_N">СЭВД_Номер</th>
                    <th data-field="ECM_LINK">ЕСМ_ссылка</th>
                    <th data-field="DS_DATE">ДС_Дата</th>
                    <th data-field="GFK">ГФК</th>
                    <th data-field="VIR_START_WORK">ВИР_Начало_работ</th>
                    <th data-field="VIR_END_WORK">ВИР_Завершение_работ</th>
                    <th data-field="VIR_INTEGRATION_DATE">ВИР_Дата_интеграции</th>
                    <th data-field="DIADOK_UPLOAD_DATE">Диадок_Дата_загрузки</th>
                    <th data-field="DIADOK_SIGN_DATE">Диадок_Дата_подписания</th>
                    <th data-field="IMS_LINK">IMS_ссылка</th>
                    <th data-field="DIADOK_ID">Диадок_ID</th>
                    <th data-field="DIADOK_LINK">Диадок_ссылка</th>
                    <th data-field="NRI_CODE_PROJECT">NRI_Код_проекта</th>
                    <th data-field="CONTRACT_N">Контракт_номер</th>
                    <th data-field="DOG_N">Договор_номер</th>
                    <th data-field="DOG_DATE">Договор_дата</th>
                    <th data-field="INITIATOR_MAIL">Инициатор_почта</th>
                    <th data-field="PROVIDER_INN">Поставщик_ИНН</th>
                    <th data-field="ERROR1">Ошибка1</th>
                    <th data-field="ERROR2">Ошибка2</th>
                    <th data-field="TECH_ERROR">Тех_Ошибка</th>
                    <th data-field="STATUS">Статус</th>
                    <th data-field="PROCESSING">Обработка</th>
                    <th data-field="GEO">География</th>
                    <th data-field="ZP_N">ЗП_Номер</th>
                    <th data-field="ZP_STATUS">ЗП_Статус</th>
                    <th data-field="BD_COM">БД_комментарий</th>
                    <th data-field="PR_FILE">PR_файл</th>
                    <th data-field="VIR_COM">ВИР_комментарий</th>
                    <th data-field="DOUBLE">Дубль</th>
                    <th data-field="VIR_DIAP">ВИР_Диапазоны</th>
                    <th data-field="PROSTAVLENIE">Проставление</th>
                    <th data-field="ECM_FILL">Дозаполнение_ЕСМ</th>

                </tr>

            </thead>
            <tbody>
                <tr class="tr-class-2">
                    <th data-field="id">Ключ (счетчик)</th>
                    <th><input asp-for="NRI_LINK" class="form-control" /></th>
                    <th><input asp-for="ZM_LOT" class="form-control" /></th>
                    <th><input asp-for="REGION" class="form-control" /></th>
                    <th><input asp-for="FILIAL" class="form-control" /></th>
                    <th><input asp-for="NRI_BS_N" class="form-control" /></th>
                    <th><input asp-for="NRI_BS_NAME" class="form-control" /></th>
                    <th><input asp-for="DS_N" class="form-control" /></th>
                    <th><input asp-for="PROVIDER" class="form-control" /></th>
                    <th><input asp-for="VIR_DOC_TYPE" class="form-control" /></th>
                    <th><input asp-for="VIR_DOP" class="form-control" /></th>
                    <th><input asp-for="VIR_DOP_N" class="form-control" /></th>
                    <th><input asp-for="VIR_DATEfrom" class="form-control" /><input asp-for="VIR_DATEto" class="form-control" /></th>
                    <th><input asp-for="VIR_SUMM_WO_NDSfrom" class="form-control" /><input asp-for="VIR_SUMM_WO_NDSto" class="form-control" /></th>
                    <th><input asp-for="VIR_PAY_CONDITIONS" class="form-control" /></th>
                    <th><input asp-for="INITIATOR_FIO" class="form-control" /></th>
                    <th><input asp-for="RESPONSIBLE_FIO" class="form-control" /></th>
                    <th><input asp-for="STAGE" class="form-control" /></th>
                    <th><input asp-for="PR_N" class="form-control" /></th>
                    <th><input asp-for="PR_STATUS" class="form-control" /></th>
                    <th><input asp-for="PR_COM" class="form-control" /></th>
                    <th><input asp-for="SEVD" class="form-control" /></th>
                    <th><input asp-for="SEVD_N" class="form-control" /></th>
                    <th><input asp-for="ECM_LINK" class="form-control" /></th>
                    <th><input asp-for="DS_DATE" class="form-control" /></th>
                    <th><input asp-for="GFK" class="form-control" /></th>
                    <th><input asp-for="VIR_START_WORK" class="form-control" /></th>
                    <th><input asp-for="VIR_END_WORK" class="form-control" /></th>
                    <th><input asp-for="VIR_INTEGRATION_DATE" class="form-control" /></th>
                    <th><input asp-for="DIADOK_UPLOAD_DATE" class="form-control" /></th>
                    <th><input asp-for="DIADOK_SIGN_DATE" class="form-control" /></th>
                    <th><input asp-for="IMS_LINK" class="form-control" /></th>
                    <th><input asp-for="DIADOK_ID" class="form-control" /></th>
                    <th><input asp-for="DIADOK_LINK" class="form-control" /></th>
                    <th><input asp-for="NRI_CODE_PROJECT" class="form-control" /></th>
                    <th><input asp-for="CONTRACT_N" class="form-control" /></th>
                    <th><input asp-for="DOG_N" class="form-control" /></th>
                    <th><input asp-for="DOG_DATE" class="form-control" /></th>
                    <th><input asp-for="INITIATOR_MAIL" class="form-control" /></th>
                    <th><input asp-for="PROVIDER_INN" class="form-control" /></th>
                    <th><input asp-for="ERROR1" class="form-control" /></th>
                    <th><input asp-for="ERROR2" class="form-control" /></th>
                    <th><input asp-for="TECH_ERROR" class="form-control" /></th>
                    <th><input asp-for="STATUS" class="form-control" /></th>
                    <th><input asp-for="PROCESSING" class="form-control" /></th>
                    <th><input asp-for="GEO" class="form-control" /></th>
                    <th><input asp-for="ZP_N" class="form-control" /></th>
                    <th><input asp-for="ZP_STATUS" class="form-control" /></th>
                    <th><input asp-for="BD_COM" class="form-control" /></th>
                    <th><input asp-for="PR_FILE" class="form-control" /></th>
                    <th><input asp-for="VIR_COM" class="form-control" /></th>
                    <th><input asp-for="DOUBLE" class="form-control" /></th>
                    <th><input asp-for="VIR_DIAP" class="form-control" /></th>
                    <th><input asp-for="PROSTAVLENIE" class="form-control" /></th>
                    <th><input asp-for="ECM_FILL" class="form-control" /></th>
                </tr>
                @{
                    foreach (MainReportWave1 id in Model.data)
                    {
                        <tr style="line-height:0.95">
                            @Html.Partial("CessReportWave1", id)
                        </tr>
                    }
                    Model.data = null;
                }
            </tbody>
        </table>
    </form>
</div>
<script>
    $(function () {
        $('#table').bootstrapTable()
    })
</script>