<html xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:x="urn:schemas-microsoft-com:office:excel"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1251">
    <meta name=ProgId content=Excel.Sheet>
    <meta name=Generator content="Microsoft Excel 15">
    <link rel=File-List href="DeployYORMUNGAND.files/filelist.xml">
    <style id="DeployYORMUNGAND_32764_Styles">
        <!--

        table {
            mso-displayed-decimal-separator: "\,";
            mso-displayed-thousand-separator: " ";
        }

        .xl6332764 {
            padding-top: 1px;
            padding-right: 1px;
            padding-left: 1px;
            mso-ignore: padding;
            color: black;
            font-size: 11.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Calibri, sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl6432764 {
            padding-top: 1px;
            padding-right: 1px;
            padding-left: 1px;
            mso-ignore: padding;
            color: black;
            font-size: 11.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Calibri, sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl6532764 {
            padding-top: 1px;
            padding-right: 1px;
            padding-left: 1px;
            mso-ignore: padding;
            color: black;
            font-size: 11.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Calibri, sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: center;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl6632764 {
            padding-top: 1px;
            padding-right: 1px;
            padding-left: 1px;
            mso-ignore: padding;
            color: black;
            font-size: 11.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Calibri, sans-serif;
            mso-font-charset: 0;
            mso-number-format: General;
            text-align: left;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }

        .xl6732764 {
            padding-top: 1px;
            padding-right: 1px;
            padding-left: 1px;
            mso-ignore: padding;
            color: black;
            font-size: 11.0pt;
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            font-family: Calibri, sans-serif;
            mso-font-charset: 0;
            mso-number-format: "Short Date";
            text-align: center;
            vertical-align: middle;
            border: .5pt solid windowtext;
            mso-background-source: auto;
            mso-pattern: auto;
            white-space: normal;
        }
        -->
    </style>
</head>

<body>
    <!--[if !excel]>&nbsp;&nbsp;<![endif]-->
    <!--Следующие сведения были подготовлены мастером публикации веб-страниц
    Microsoft Excel.-->
    <!--При повторной публикации этого документа из Excel все сведения между тегами
    DIV будут заменены.-->
    <!----------------------------->
    <!--НАЧАЛО ФРАГМЕНТА ПУБЛИКАЦИИ МАСТЕРА ВЕБ-СТРАНИЦ EXCEL -->
    <!----------------------------->

    <div id="DeployYORMUNGAND_32764" align=center x:publishsource="Excel" style="margin-top: 150px">

        <table border=0 cellpadding=0 cellspacing=0 width=899 style='border-collapse:
 collapse;table-layout:fixed;width:676pt'>
            <col class=xl6332764 width=64 style='width:48pt'>
            <col class=xl6332764 width=73 style='mso-width-source:userset;mso-width-alt:
 2588;width:55pt'>
            <col class=xl6432764 width=430 style='mso-width-source:userset;mso-width-alt:
 15303;width:323pt'>
            <col class=xl6332764 width=218 style='mso-width-source:userset;mso-width-alt:
 7765;width:164pt'>
            <col class=xl6332764 width=114 style='mso-width-source:userset;mso-width-alt:
 4067;width:86pt'>
            <tr height=19 style='height:14.4pt'>
                <td height=19 class=xl6532764 width=64 style='height:14.4pt;width:48pt'>Релиз</td>
                <td class=xl6532764 width=73 style='border-left:none;width:55pt'>Дата</td>
                <td class=xl6632764 width=430 style='border-left:none;width:323pt'>Изменение</td>
                <td class=xl6532764 width=218 style='border-left:none;width:164pt'>
                    Влияние на
                    направления
                </td>
                <td class=xl6532764 width=114 style='border-left:none;width:86pt'>Инициатор</td>
            </tr>
            <tr height=19 style='height:14.4pt'>
                <td height=19 class=xl6532764 width=64 style='height:14.4pt;border-top:none;
  width:48pt'>
                    0.010
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    10.09.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    В отчет добавлены поля: &quot;Дополнение\Расторжение&quot;,
                    &quot;С портала&quot;
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=38 style='height:28.8pt'>
                <td height=38 class=xl6532764 width=64 style='height:28.8pt;border-top:none;
  width:48pt'>
                    0.010
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    10.09.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Добавление блока HR
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    HR
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Ганьшин Алексей
                </td>
            </tr>
            <tr height=19 style='height:14.4pt'>
                <td height=19 class=xl6532764 width=64 style='height:14.4pt;border-top:none;
  width:48pt'>
                    0.007a
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    28.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Fix отчета
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=38 style='height:28.8pt'>
                <td height=38 class=xl6532764 width=64 style='height:28.8pt;border-top:none;
  width:48pt'>
                    0.007
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    28.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    При выборе страницы больше максимальной, переходить на 1ю
                    страницу
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Кузнецов Александр
                </td>
            </tr>
            <tr height=38 style='height:28.8pt'>
                <td height=38 class=xl6532764 width=64 style='height:28.8pt;border-top:none;
  width:48pt'>
                    0.007
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    28.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Показывать максимально число страниц по отчету
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Ганьшин Алексей
                </td>
            </tr>
            <tr height=38 style='height:28.8pt'>
                <td height=38 class=xl6532764 width=64 style='height:28.8pt;border-top:none;
  width:48pt'>
                    0.007
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    28.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Добавлена кнопка &quot;Выложены дополнительные RI&quot;
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    Касса
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Пыряев Анатолий
                </td>
            </tr>
            <tr height=38 style='height:28.8pt'>
                <td height=38 class=xl6532764 width=64 style='height:28.8pt;border-top:none;
  width:48pt'>
                    0.007
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    28.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Выпадающий список для полей Филилиал, Этап, Статус в отчете
                    ЦЭСС. Формирование списков связаны между собой.
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=19 style='height:14.4pt'>
                <td height=19 class=xl6532764 width=64 style='height:14.4pt;border-top:none;
  width:48pt'>
                    0.006
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    15.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Доменное имя перенесено в правую часть и убран домен
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    Все
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=19 style='height:14.4pt'>
                <td height=19 class=xl6532764 width=64 style='height:14.4pt;border-top:none;
  width:48pt'>
                    0.006
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    15.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Выпадающий список для поля Регион в отчете ЦЭСС
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=19 style='height:14.4pt'>
                <td height=19 class=xl6532764 width=64 style='height:14.4pt;border-top:none;
  width:48pt'>
                    0.005
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    07.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Fix выгрузки отчета Excel по ЦЭСС
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=38 style='height:28.8pt'>
                <td height=38 class=xl6532764 width=64 style='height:28.8pt;border-top:none;
  width:48pt'>
                    0.005
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    07.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Добавлена кнопка очистки формы поиска на отчете по первой волне
                    ЦЭСС
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=38 style='height:28.8pt'>
                <td height=38 class=xl6532764 width=64 style='height:28.8pt;border-top:none;
  width:48pt'>
                    0.005
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    07.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Подгон размера таблицы отчета ЦЭСС с учетом масштаба браузера
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=58 style='height:43.2pt'>
                <td height=58 class=xl6532764 width=64 style='height:43.2pt;border-top:none;
  width:48pt'>
                    0.005
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    07.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Поля &quot;IMS_ссылка,ЕСМ_ссылка,Диадок_ссылка,NRI_ссылка&quot;
                    становятся гиперссылкой, клик по гиперссылке не открывает детальное описание,
                    а открывает ссылку в новом окне.
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    ЦЭСС
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Соломка Михаил
                </td>
            </tr>
            <tr height=38 style='height:28.8pt'>
                <td height=38 class=xl6532764 width=64 style='height:28.8pt;border-top:none;
  width:48pt'>
                    0.005
                </td>
                <td class=xl6732764 width=73 style='border-top:none;border-left:none;
  width:55pt'>
                    07.05.2021
                </td>
                <td class=xl6632764 width=430 style='border-top:none;border-left:none;
  width:323pt'>
                    Антиспам для алертов
                </td>
                <td class=xl6532764 width=218 style='border-top:none;border-left:none;
  width:164pt'>
                    RPA
                </td>
                <td class=xl6532764 width=114 style='border-top:none;border-left:none;
  width:86pt'>
                    Ганьшин Алексей
                </td>
            </tr>
            <![if supportMisalignedColumns]>
            <tr height=0 style='display:none'>
                <td width=64 style='width:48pt'></td>
                <td width=73 style='width:55pt'></td>
                <td width=430 style='width:323pt'></td>
                <td width=218 style='width:164pt'></td>
                <td width=114 style='width:86pt'></td>
            </tr>
            <![endif]>
        </table>

    </div>


    <!----------------------------->
    <!--КОНЕЦ ФРАГМЕНТА ПУБЛИКАЦИИ МАСТЕРА ВЕБ-СТРАНИЦ EXCEL-->
    <!----------------------------->
</body>

</html>



