
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>В разработке</h4>
    </div>
    <div class="modal-body">

    </div>
</div>