@model TestModel

<div class="col-lg-12 list_dataitem">
    <a asp-controller="DetailItem" asp-action="ShowDetail" asp-route-QID="">
        <div class="list_dataitem-all list_dataitem-allList">
            <p>
                ID: @Model.Test3  Филиал: @Model.Test2  Регион: @Model.Test1
            </p>
            <p>
            </p>
        </div>
    </a>
</div>