body {
    background: rgba(241, 239, 199, 0.30);
    overflow-x: hidden;
}
.main_content-body {
    margin-top: 100px;
}
h1 {
    margin: 10px;
}
a {
    text-decoration: none;
    color: black;
}
table {
    text-align: center;
}
a:hover {
    color: inherit;
}
.list_dataitem {
    margin: 5px;
}
.list_dataitem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
.list_dataitem-allList {
    background: rgba(0, 139, 140, 0.55);
}
.list_dataitem-finished {
    background: rgba(0, 139, 140, 0.15);
}
.list_dataitem-all {
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 10px;
}

div.row_oneItem-NoWay {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 0px;
    padding: 0px;
    margin: auto;
}
div.row_oneItem-small0 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 105px;
    padding: 0px;
    margin: auto;
}
div.row_oneItem-small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    padding: 0px;
    margin: auto;
}
div.row_oneItem-small1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 125px;
    padding: 0px;
    margin: auto;
}
div.row_oneItem-small4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    padding: 0px;
    margin: auto;
}
div.row_oneItem-small5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 145px;
    padding: 0px;
    margin: auto;
}
div.row_oneItem-small7 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 155px;
    padding: 0px;
    margin: auto;
}
div.row_oneItem-medium {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    padding: 0px;
    margin: auto;
}
div.row_oneItem-large {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 650px;
    padding: 0px;
    margin: auto;
}
td.slimrow {
    padding: 0px;
}
th.slimrow {
    padding: 0px;
}
a.compItem {
    width: 650px;
}
@-webkit-keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
        background: rgb(0, 0, 0);
    }
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
        background: rgb(0, 0, 0);
    }
}

#blink7 {
    color: rgb(245,245,245);
    background: rgb(255, 0, 0);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -webkit-animation: pulsate 0.5s linear infinite;
    animation: pulsate 0.5s linear infinite;
    padding: 10px;
}

#noblink7 {
    color: rgb(245,245,245);
    background: rgb(255, 0, 0);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 10px;
}

.alert-bg_color-opacity_white {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px 40px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    max-height: 4.5em;
}
.min-width-150 {
    min-width: 150px;
}
.text-left {
    text-align: left;
}
.text-shadow-black {
    text-shadow: black 0 0 5px;
    font-weight: 800 !important;
}