body {
    background: #fcfcfc
}
.main_content-body {
    margin-top: 100px;
}
h1 {
    margin: 10px;
}
a {
    text-decoration: none;
    color: black;
}
.list_dataitem:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.list_dataitem-finished {
    background: rgba(0, 139, 140, 0.15);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 10px;
}
