body {
    background: rgba(241, 239, 199, 0.30);
    overflow-x: hidden;
}
.main_content-body {
    margin-top: 100px;
}
h1 {
    margin: 10px;
}
a {
    text-decoration: none;
    color: black;
}
table {
    text-align: center;
}
a:hover {
    color: inherit;
}
.list_dataitem {
    margin: 5px;
}
.list_dataitem:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}
.list_dataitem-allList {
    background: rgba(0, 139, 140, 0.55);
}
.list_dataitem-finished {
    background: rgba(0, 139, 140, 0.15);
}
.list_dataitem-all {
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 10px;
}

div.row_oneItem-extraSmall {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50px;
    padding: 1px;
}
div.row_oneItem-small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    padding: 1px;
}
div.row_oneItem-medium {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    padding: 1px;
}
div.row_oneItem-large {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 650px;
    padding: 1px;
}
td.slimrow {
    padding: 0px;
}
th.slimrow {
    padding: 0px;
}