<div class="modal-content" style="width:850px; display:block">
    <div class="modal-header" style="align-content:flex-end">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>

    </div>
    <div class="modal-body">
        <table>
            <thead>
                <tr>
                    <th>Символ-шаблон</th>
                    <th>Описание</th>
                    <th style="width:500px; display:block">Пример</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>%</td>
                    <td>Любая строка, содержащая ноль или более символов.</td>
                    <td>Задача: найти все строки с БС начинающиеся на "143" .<br />Решение: В форму поиска под заголовком столбца "Номер БС" ввести "143%" без кавычек и нажать Enter на клавиатуре или кнопку применить на листе</td>
                </tr>
                <tr>
                    <td>_ (подчеркивание)</td>
                    <td>Любой одиночный символ.</td>
                    <td>Задача: найти все строки с ЗМ "2583/" + любые два символа + " Лот 2.1".<br />Решение: В форму поиска под заголовком столбца "ЗМ" ввести "2583/__ Лот 2.1" без кавычек и нажать Enter на клавиатуре или кнопку применить на листе</td>
                </tr>
                <tr>
                    <td>[ ]</td>
                    <td>Любой одиночный символ, содержащийся в диапазоне ([a-f]) или наборе ([abcdef]).</td>
                    <td>Задача: найти все строки с наименованием БС заканчивающимися на "кая" или "вая".<br />Решение: В форму поиска под заголовком столбца "Наименование БС" ввести "%[кв]ая" без кавычек и нажать Enter на клавиатуре или кнопку применить на листе</td>

                </tr>
                <tr>
                    <td>[^]</td>
                    <td>Любой одиночный символ, не содержащийся в  диапазоне ([^a-f]) или наборе ([^abcdef]).</td>
                    <td></td>
                </tr>
                <tr style="color: #000000; font-weight:bold"><td><a href="https://docs.microsoft.com/ru-ru/sql/t-sql/language-elements/like-transact-sql?view=sql-server-ver15" target="_blank"><h3>Подробнее</h3></a></td><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
</div>